@{
    ViewData["Title"] = "Home Page";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid mt-4">
                <div class="container">
                    <h1>ASP.net ORM Test</h1>
                    <p class="lead">Pruebas realizadas bajos las metricas de la ISO 9126 e ISO/IEC 25010</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>Comportamiento temporal</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_TiempoDeRespuesta.cshtml" />
            <a href="/Metric/TiempoDeRespuesta" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_Rendimiento.cshtml" />
            <a href="/Metric/Rendimiento" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h1>Utilización de recursos</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_UtilizacionDeMemoria.cshtml" />
            <a href="/Metric/UtilizacionDeMemoria" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_UtilizacionDeCache.cshtml" />
            <a href="/Metric/UtilizacionDeCache" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h1>Capacidad del software</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_Capacidad.cshtml" />
            <a href="/Metric/Capacidad" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="~/Views/Shared/Metrics/_VelocidadBajoEstres.cshtml" />
            <a href="/Metric/VelocidadBajoEstres" class="btn btn-primary" role="button">Ejecutar Prueba</a>
        </div>
    </div>
</div>