@model  Student

<div class="row">
    <div class="col">
        <h1>Comportamiento temporal</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <partial name="~/Views/Shared/Metrics/_TiempoDeRespuesta.cshtml" />
        <h1>Explicación</h1>

        <hr />
        <h1>Resultados</h1>
        <hr />
        <div class="row">
            <div class="col-xs-6">
                <h4>Tiempo (ms)</h4>
                @{int i = 1;}
                @foreach (var item in ViewBag.msList)
            {
                <p>@i - @item ms </p>
            i++;
        }
            </div>
            <div class="col-xs-6">
                <h3>Tiempo de respuesta</h3>
                <h3><strong>Cantidad de pruebas: </strong>@ViewBag.msList.Count</h3>
                <h3><strong>Promedio: </strong>@ViewBag.msAverage ms</h3>
                <h3><strong>Desviación estandar: </strong>@ViewBag.msStdDev ms</h3>
                <h3><strong>Error: </strong>@ViewBag.msStandardError ms</h3>
            </div>
        </div>

    </div>
</div>